/*Menu********************************************************************************************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-image: url("assets/img/fond_ecran.jpg");
  background-attachment: fixed;
  background-position: center;
}

.menu {
  margin-top: -50px;
}

.menu h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  animation-name: heading;
  animation-duration: 2000ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
  margin-top: 75px;
  font-size: 50px;
}

.menu .sub-heading {
  color: white;
  text-align: center;
  font-weight: 300;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0;
  padding: 0 10px;
}

.menu ul li {
  color: white;
  list-style: none;
  background-color: rgba(122, 127, 180, 0.219);
  padding: 40px 20px;
}

.menu li {
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.menu a:hover {
  color: #bbb7c2;
}

.menu-home {
  position: relative;
  animation-name: home;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.menu-realisations {
  position: relative;
  animation-name: home;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes home {
  0% {
    top: -30px
  }
  100% {
    top: 0px
  }
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.menu-projects {
  position: relative;
  animation-name: projects;
  animation-duration: 500ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.menu-about {
  position: relative;
  animation-name: about;
  animation-duration: 500ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes projects {
  0% {
    left: -100px
  }
  100% {
    left: 0px
  }
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes about {
  0% {
    right: -100px
  }
  100% {
    right: 0px
  }
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.menu-contact {
  position: relative;
  animation-name: contact;
  animation-duration: 500ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.menu-gitHub {
  position: relative;
  animation-name: contact;
  animation-duration: 500ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes contact {
  0% {
    bottom: -30px
  }
  100% {
    bottom: 0px
  }
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.menu .sub-menu {
  margin-top: 250px;
  text-align: center;
}

@keyframes heading {
  0% {
    right: -400px
  }
  100% {
    right: 0px
  }
}

.menu .sub-heading {
  position: relative;
  animation-name: sub-heading;
  animation-duration: 2000ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes sub-heading {
  0% {
    left: -400px
  }
  100% {
    left: 0px
  }
}

/*A propos de moi*********************************************************************************************************************************/

* {
  /* Calculation */
  --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420)));
  /* Ranges from 421px to 1199px */
}

.me {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.me h2 {
  /* Set max and min font sizes */
  color: white;
  --max-font: 50;
  --min-font: 25;
  font-size: var(--responsive);
  margin: .3em 0;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
  font-family: fantasy;
  text-shadow: 4px 3px 0px rgb(99, 77, 194), 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.me p {
  color: white;
  text-align: center;
  line-height: 50px;
  /* Set max and min font sizes */
  --max-font: 20;
  --min-font: 14;
  font-size: var(--responsive);
}

/* .joli {
  padding : 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box; */

  /* La couche la plus basse sera
     peinte avec un gris clair uni */
  /* background-color: #E4E4D9; */

  /* Ensuite on applique des gradients
     linéaires les uns sur les autres
     pour créer un effet de bandes colorées.
     Comme vous pouvez le voir, les gradients
     sont considérés et manipulés comme des
     images */
  /* background-image: linear-gradient(175deg, rgba(190, 69, 69, 0) 95%, #8da389 95%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                    linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                    linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
} */

@media (min-width: 1200px) {
  .me h2, .me p {
    font-size: calc(var(--max-font) * 1px);
  }
}

@media (max-width: 420px) {
  .me h2, .me p {
    font-size: calc(var(--min-font) * 1px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.me div {
  margin: auto;
  padding: 20px;
}

.me a {
  text-decoration: none;
  color: white;
}

/*Effet scroll texte à propos de moi*/

.me figure {
  position: relative;
  left: 60%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all 1.5s ease;
}

/*Réalisations************************************************************************************************************************************/

* {
  /* Calculation */
  --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420)));
  /* Ranges from 421px to 1199px */
}

.real {
  height: 100vh;
}

.real h2 {
  /* Set max and min font sizes */
  color: white;
  --max-font: 50;
  --min-font: 25;
  font-size: var(--responsive);
  margin: .3em 0;
  text-transform: uppercase;
  text-align: center;
  font-family: fantasy;
  text-shadow: 4px 3px 0px rgb(99, 77, 194), 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.real h3 {
  color: white;
  text-align: center;
  /* Set max and min font sizes */
  --max-font: 20;
  --min-font: 14;
  font-size: var(--responsive);
}

@media (min-width: 1200px) {
  .real h2, .real h3 {
    font-size: calc(var(--max-font) * 1px);
  }
}

@media (max-width: 420px) {
  .real h2, .real h3 {
    font-size: calc(var(--min-font) * 1px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.real div {
  margin: auto;
  padding: 20px;
}

/*Carousel réalisations*/

main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 400px;
}

#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

#carousel div img {
  width: 380px;
  height: 360px;
  transition: width 1s;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 200px;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
  width: 300px;
}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.prevLeftSecond img {
  width: 200px;
}

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
  width: 300px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.nextRightSecond img {
  width: 200px;
}

/*Boutons*/

.real .buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-weight: bold;
  font-size: larger;
}

:root {
  --base-color: rgb(24, 80, 236);
  --hover-color: rgb(255, 255, 255);
}

.vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 50px;
  margin: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.vertical>.text {
  position: relative;
  color: transparent;
  background-image: linear-gradient(0deg, var(--hover-color) 0%, var(--hover-color) 50%, var(--base-color) 50%, var(--base-color) 100%);
  background-repeat: repeat;
  background-size: 100% 200%;
  background-position: 0 0;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-position 300ms;
}

.vertical::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--base-color);
  transform-origin: 0 0;
  transform: scale3d(1, 0, 1);
  transition: transform 300ms;
}

.vertical:hover .text {
  background-position: 0 100%;
}

.vertical:hover::before {
  transform-origin: 0 100%;
  transform: scale3d(1, 1, 1);
}

/*Veilles technologiques**************************************************************************************************************************/

* {
  /* Calculation */
  --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420)));
  /* Ranges from 421px to 1199px */
}

.tech {
  min-height: 100vh;
}

.tech h2 {
  /* Set max and min font sizes */
  color: white;
  --max-font: 50;
  --min-font: 25;
  margin: .3em 0;
  text-transform: uppercase;
  text-align: center;
  font-family: fantasy;
  text-shadow: 4px 3px 0px rgb(99, 77, 194), 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.tech p {
  color: white;
  margin: auto;
  width: fit-content;
  /* Set max and min font sizes */
  --max-font: 20;
  --min-font: 14;
  font-size: var(--responsive);
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
}

@media (min-width: 1200px) {
  .tech h2, .tech p {
    font-size: calc(var(--max-font) * 1px);
  }
}

@media (max-width: 420px) {
  .tech h2, .tech p {
    font-size: calc(var(--min-font) * 1px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tech div {
  margin: auto;
  padding: 10px;
}

.tech .positionImg {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/*Effets liens*/

.tech .main-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 180rem;
}

.tech button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.tech .div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.tech .flex-1 {
  flex: 1;
  min-width: 250px;
}

.tech .button {
  color: white;
  font-size: 21px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
  will-change: transform;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tech .btn-1 {
  letter-spacing: 0.05rem;
  transition: 0.5s all ease-in-out;
  position: relative;
  background: transparent;
}

.tech .btn-1:before {
  border-top: 0.3rem solid rgb(47, 20, 202);
  border-bottom: 0.3rem solid rgb(47, 20, 202);
  display: block;
  position: absolute;
  background: transparent;
  content: "";
  top: 6px;
  bottom: 0;
  left: 100%;
  right: 100%;
  transition: 0.50s all ease-in-out;
}

.tech .btn-1:hover {
  letter-spacing: 0.1rem;
}

.tech .btn-1:hover:before {
  left: 25%;
  right: 25%;
}

/*Projets*****************************************************************************************************************************************/

* {
  /* Calculation */
  --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420)));
  /* Ranges from 421px to 1199px */
}

.projects {
  min-height: 100vh;
}

.projects h2 {
  /* Set max and min font sizes */
  color: white;
  --max-font: 50;
  --min-font: 25;
  font-size: var(--responsive);
  margin: .3em 0;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  font-family: fantasy;
  text-shadow: 4px 3px 0px rgb(99, 77, 194), 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.projects p {
  color: white;
  margin: auto;
  width: fit-content;
  /* Set max and min font sizes */
  --max-font: 20;
  --min-font: 14;
  font-size: var(--responsive);
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 1200px) {
  .projects h2, .projects p {
    font-size: calc(var(--max-font) * 1px);
  }
}

@media (max-width: 420px) {
  .projects h2, .projects p {
    font-size: calc(var(--min-font) * 1px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.projects div {
  margin: auto;
  padding: 20px;
}

/*Cartes projets*/

* {
  box-sizing: border-box;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  width: 95%;
  margin: 0 auto;
  margin-top: 130px;
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}

.projects .size {
  text-transform: uppercase;
  font-size: 25px;
}

.projects .text {
  font-size: 17px;
  text-transform: none;
}

.projects .link {
  font-size: 17px;
  text-transform: none;
}

.projects a {
  color: white;
  text-decoration: none;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(assets/img/projets.JPG);
  background-position: center;
  content: 'Projet 1';
  text-transform: uppercase;
  padding-top: 15px;
  color: rgb(110, 110, 221);
}

.card:nth-child(2):before {
  background-image: url(assets/img/projets.JPG);
  background-position: center;
  content: 'Projet 2';
  text-transform: uppercase;
  padding-top: 15px;
  color: rgb(110, 110, 221);
}

.card:nth-child(3):before {
  background-image: url(assets/img/projets.JPG);
  background-position: center;
  content: 'Projet 3';
  text-transform: uppercase;
  padding-top: 15px;
  color: rgb(110, 110, 221);
}

.card:nth-child(4):before {
  background-image: url(assets/img/projets.JPG);
  background-position: center;
  content: 'Projet 4';
  text-transform: uppercase;
  padding-top: 15px;
  color: rgb(110, 110, 221);
}

.card:nth-child(5):before {
  background-image: url(assets/img/projets.JPG);
  background-position: center;
  content: 'Projet 5 (Stage)';
  text-transform: uppercase;
  padding-top: 15px;
  color: rgb(110, 110, 221);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content>*+* {
  margin-top: 1rem;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card:hover:after, .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content, .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content>*:not(.title), .card:focus-within .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
}

/*Contact*****************************************************************************************************************************************/

* {
  /* Calculation */
  --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420)));
  /* Ranges from 421px to 1199px */
}

.contact {
  height: 100vh;
}

.contact h2 {
  /* Set max and min font sizes */
  color: white;
  --max-font: 50;
  --min-font: 25;
  font-size: var(--responsive);
  text-transform: uppercase;
  text-align: center;
  font-family: fantasy;
  text-shadow: 4px 3px 0px rgb(99, 77, 194), 9px 8px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1200px) {
  .contact h2 {
    font-size: calc(var(--max-font) * 1px);
  }
}

@media (max-width: 420px) {
  .contact h2 {
    font-size: calc(var(--min-font) * 1px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact div {
  margin: auto;
  padding: 20px;
}

.contact h2 {
  margin: .3em 0;
}

.contact .container {
  border-radius: 5px;
  background-color: #395fb842;
  padding: 90px;
  text-align: center;
  width: 85%;
}

.contact p {
  color: white;
  display: flex;
  justify-content: left;
}

.contact input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

.contact label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  color: white;
}

.contact input[type=submit] {
  background-color: #1255a2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.contact input[type=submit]:hover {
  background-color: #122d4d;
}

.contact .reset {
  background-color: #1255a2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin-top: 5px;
}

.contact .reset:hover {
  background-color: #122d4d;
}